<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Catégories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  Choisisez le type de bas que vous voulez acheter.
  <ion-card *ngFor="let categories of category" (click)="go(categories)">
    <img src="img/card-cabane-a-sucre.jpg"/>
    <div class="card-title">{{category.name}}</div>
  </ion-card>
</ion-content>

  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
