<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bas de Noel
    </ion-title>
    <ion-buttons end>
      <ion-button icon-only (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-list>
    <ion-item item-start *ngFor="let products of product">
      <ion-thumbnail >
        <img src='img/bas/{{products.idProductTemplate}}.jpeg'>
      </ion-thumbnail>
      <ion-label>
        <h2>{{products.name}}</h2>
        <p>{{products.listPrice}} $
        <ion-button color="dark"float-right (click)="go(products.idProductTemplate)">Afficher</ion-button>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
