<ion-header>
  <ion-toolbar>
    <ion-title>{{info.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <!--<img src="img/3.jpg"/> -->
  <ion-card-content>
    <ion-card-title>
      {{info.name}}
    </ion-card-title>
    <p>
      {{info.description}}<br/>
      Rating : {{info.averageRating}}<br/>
      Prix : {{info.listPrice}} $<br/>
    </p>
    <button ion-button block (click)="ajoutAuPanier()">Ajouter au Panier</button>
  </ion-card-content>
</ion-card>
  <ion-card>
  <ion-card-content>
    <ion-card-title>
      Commentaires
    </ion-card-title>
    <p *ngFor="let commentaire of commentaires">
      {{commentaire.body}}
    </p>
  </ion-card-content>
  </ion-card>

</ion-content>
