<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Catégories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  Choisisez le type de bas que vous voulez acheter.
  <ion-card *ngFor="let categories of categorie">
    <img src="{{categories.image}}"/>
    <div class="card-title">{{categories.categorie}}</div>
  </ion-card>
  <!--<ion-list *ngFor="let categories of categorie">
    <button ion-item >
      {{categories.categorie}}
    </button>
  </ion-list>-->
</ion-content>

  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
