<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bas de la Saint-Valentin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item item-start *ngFor="let products of product">
      <ion-thumbnail >
        <img src="img/3.jpg">
      </ion-thumbnail>
      <h2>{{products.name}}</h2>
      <p>{{products.listPrice}}</p>
      <button ion-button clear item-end  (click)="go(products.idProductTemplate)">Afficher</button>
    </ion-item>
  </ion-list>
  <!--Choisisez le produit que vous voulez acheter.
  <ion-card *ngFor="letproducts of produit">
    <div class="card-title">{products.id}}</div>
  </ion-card>
  <!--<ion-list *ngFor="let categories of categorie">
    <button ion-item >
      {{categories.categorie}}
    </button>
  </ion-list>-->
</ion-content>
